name: publish-packages

on: workflow_dispatch

jobs:
  publish-packages:
    runs-on: ubuntu-latest
    env:
      TEST_ENDPOINT: dapp-example.test.onekey.so
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v2
        with:
          node-version: '16.x'
          registry-url: 'https://registry.npmjs.org'

      - name: Install Packages
        run: |
          yarn
          yarn bootstrap
          yarn build
          yarn test
          yarn lint

      - name: Publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: |
          git reset --hard
          yarn publish-packages -y

      - name: Build Example Web
        run: |
          yarn clean-workspace
          yarn example-build
          cp ./packages/example/out/index.html ./packages/example/out/404.html

      - name: Deploy Github Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./packages/example/out
          cname: ${{ env.TEST_ENDPOINT }}
          force_orphan: true
