name: test-lint

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

jobs:
  lint:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os:
          - ubuntu-latest
#          - macOS-latest
        node_version:
#          - 14
          - 20

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node_version }}
          cache: 'yarn'

      # fix src/classes.ts(2,27): error TS2307: Cannot find module 'fast-safe-stringify'
      # exec `yarn bootstrap` twice
      - run: yarn
      - run: yarn bootstrap
      - run: yarn bootstrap
      - run: yarn build
      - run: yarn test
      - run: yarn lint
